/* Basic Level Of Custom Cursor Animation */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

#main {
  height: 100%;
  width: 100%;
  display: flex; /* Yaha se advanced level ka he part hain */
  align-items: center;
  justify-content: center;
}

#cursor {
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none; /* very important */
  transform: translate(-50%, -50%); /* center cursor */
  font-size: 5px; /* ye #image img ka part hai */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9; /* apne cursor ko image ke front pe lane ke liye */
  color: #000;
}

/* Advanced Level Of Custom Cursor Animation */
#image {
  height: 30vw;
  width: 60vw;
  position: relative;
}

#image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}
/* z-index: 10; -> bina kisi lag ke, apka cursor smooth chale ga */
